h1 {
    text-align: center;
    padding: 50px;
}

header {
    text-align: center;
    background-color: azure;
}

.title-tags {
    text-align: center;
    padding: 10px 0px 10px;
    height: 100px;
}

.header-div {
    margin: 0px;
}

.langs {
    border: dashed black 1px;
}

.lang-pics {
    max-width: 100%;
    max-height: 100%;
}

p {
    text-align: center;
}

#skills {
    margin: 0% 10%;
}
